img
  max-width 100%
  border none
  height auto

.btn
  border-radius 0

.btn-primary
  border-color #21ABC7
  background-color #21ABC7

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus
  border-color #1997B1
  background-color #1997B1

.form-control
  border-radius 0

.form-control:focus
  border-color #21ABC7
