.topic-items ul
  margin 0
  list-style none
  padding 0 1.2rem

.topic-items li
  margin 0
  padding 12px 0
  min-height 72px
  position: relative
  border-bottom 1px solid #F0F2F4

.topic-items a
  text-decoration none

.topic-items a.item-title
  color #384047
  font-weight 500
  line-height 24px
  margin-left 55px
  margin-right 50px
  margin-bottom 4px
  display inline-block

.topic-items a.item-avatar
  left 0
  top 16px
  position: absolute

.topic-items .item-meta
  font-size 14px
  line-height 20px
  margin-left 55px
  margin-right 50px

.topic-items .item-meta a
  color #7B8E8E

.topic-items .item-meta a:hover
  color #40484A

.topic-items .item-timeago
  color #7B8E8E

.topic-items .item-middot
  margin 0 4px
  color #7B8E8E

.topic-items .item-replies
  right 0
  top 15px
  position: absolute

.topic-items .item-replies-count
  color #384047
  line-height 32px
